:root {
  font-family: 'Trebuchet MS', 'Segoe UI', Tahoma, sans-serif;
  line-height: 1.5;
  color: #1b343f;
  background-color: #f6f1ea;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
